.background{
    margin-top: 110px;
    width:65%;
    height: 650px;
    background-image: radial-gradient(circle at center center, rgb(71, 71, 71),rgb(8, 8, 8));
    display: flex;
    justify-content: center;
    align-items:center;
    border-style: ridge;
    border-radius:10px;
    border-color: #536e74;
    position: relative;
    
}

body{
    background-image: radial-gradient(circle at center center, rgb(71, 71, 71),rgb(8, 8, 8));
    position: relative;
}

#photo{
    width:1230px;
    height: 650px;
    display: block;
    position: relative;
    border-left: ridge;
    border-right: ridge;
    border-width: thin;
    border-color: #536e74;
}

input{
    
    background-image: url("/images/1.jpg");
    
    
}

#left{
    margin-right: 10px;
    height:30px;
    width: 50px;
 
}

#right{
    height:30px;
    width: 50px;
    margin-left: 10px;
    
}

.lside:hover{
    cursor: pointer;
    opacity: .8;}

.rside:hover{
   
    cursor: pointer;
    opacity: .8;}

h1{
    position: absolute;
    color:white;
    margin-top: 220px;
    margin-right: -100px;
     font-family: 'Quicksand', sans-serif;
    font-weight: 400;
   
}

p{
    position: absolute;
    color:white; 
    margin-top: 260px;
    margin-right: -100px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
   
}

footer{
    justify-content: center;
    display:flex;
}

.box {
    width: 100px;
    height: 100px;
    margin: 20px;
    box-shadow:20px 20px 50px 15px grey;  
    border:ridge;
    
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    
  }

  .box:hover{
    transform: scale(1.1); 
    cursor: pointer;
    opacity: .5;

}

    .box:active {
        border-radius:100px;
    }

    